
@{
    ViewBag.Title = "CinemaDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/app/cinema-detail.css" rel="stylesheet" />
<div class="col-md-16 col-sm-16 col-xs-16 cinema-detail" id="divNewsDetails">
    <div class="cinema-info"><h2>@ViewBag.CinemaInfo</h2></div>
    <p style="text-align: center;"><img alt="" src="https://files.betacorp.vn/files/ecm/source_files/2018/05/05/rapmydinh-114006-050518-31.jpg" style="width: 100%; height: 500px;margin: 20px;"></p>

    <p style="text-align: justify;">Chính thức mở cửa đón các tín đồ điện ảnh vào cuối tháng 1 năm 2017, rạp Beta Cineplex Mỹ Đình toạ lạc tại tầng hầm B1, toà nhà Golden Palace, đường Mễ Trì, quận Nam Từ Liêm, Hà Nội.</p>

    <p style="text-align: justify;">Rạp có vị trí thuận lợi, rất gần những trường đại học, cao đẳng và cấp 3 lớn tại Hà Nội. Beta Cineplex Mỹ Đình sở hữu tổng cộng 6 phòng chiếu tương đương hơn 800&nbsp;ghế ngồi. Rạp được trang bị hệ thống màn chiếu, máy chiếu, phòng chiếu hiện đại theo tiêu chuẩn Hollywood với 100% nhập khẩu từ nước ngoài. Trong mỗi phòng chiếu đều được lắp đặt hệ thống âm thanh Dolby 7.1 và hệ thống cách âm chuẩn quốc tế. Vì vậy mà mỗi thước phim được chiếu tại rạp đều là những thước phim rõ nét nhất, với âm thanh và hiệu ứng sống động nhất. Mức giá xem phim tại rạp hết sức ưu đãi, chỉ từ 40.000 VNĐ. Mỗi tuần, rạp còn có những chương trình khuyến mại, ưu đãi đặc biệt dành cho các tín đồ điện ảnh.</p>

    <p style="text-align: justify;">Chưa hết, toạ lạc ngay tại rạp còn là mô hình ẩm thực Foodfair. Cũng giống như tại Foodfair Thái Nguyên - Biên Hòa - Thanh Xuân Mỹ Đình&nbsp;mang đến trải nghiệm ẩm thực thế giới với nhiều món ăn đa dạng, hấp dẫn đến từ nhiều nền văn hoá ẩm thực khác nhau. Mức giá cho một món ăn ngon miệng cũng hết sức ưu đãi, đồng giá 45.000 VNĐ ngày thường và 35.000 VNĐ các ngày thứ 5 hàng tuần với chương trình “Thứ 5 măm măm”.</p>

    <p style="text-align: justify;">Với địa điểm thuận lợi, cơ sở vật chất hiện đại, tiên tiến, mức giá ưu đãi và mô hình ẩm thực Foodfair, Beta Cineplex Mỹ Đình&nbsp;chắc chắn sẽ là địa điểm xem-ăn-chơi không thể bỏ qua của giới trẻ Hà Thành. &nbsp;</p>

    <p style="text-align: justify;">Thông tin liên hệ Rạp Beta Cineplex Mỹ Đình</p>

    <p style="text-align: justify;">Địa chỉ:&nbsp;Tầng hầm B1, tòa nhà Golden Palace, đường Mễ Trì, quận Nam Từ Liêm, Hà Nội</p>

    <p style="text-align: justify;">Điện thoại: 024 &nbsp;7302 8885 (máy lẻ 502)</p>

    <p style="text-align: justify;">&nbsp;</p>

    <p style="text-align: justify;">Mua phiếu quà tặng, mua vé số lượng lớn, đặt phòng chiếu tổ chức hội nghị, trưng bày quảng cáo: Liên hệ hotline&nbsp;<strong>-&nbsp;<em>0934 632 682</em>&nbsp;</strong>&nbsp;để được hưởng ưu đãi tốt nhất bạn nhé!</p>

    <p style="text-align: center;" class="cinema-map"><iframe allowfullscreen="" frameborder="0"  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d29794.987293431674!2d105.76266112741699!3d21.017739804779346!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x80d1fe9995cd24ab!2zQmV0YSBDaW5lcGxleCBN4bu5IMSQw6xuaA!5e0!3m2!1svi!2s!4v1525495292615" style="border:0;height:400px;width:100%;margin:10px;"></iframe></p>

    <div class="clearfix margin-bottom-10" style="margin-bottom: 10px;"></div>
</div>

