
@{
    ViewBag.Title = "PriceTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-16 col-sm-16 col-xs-16 font-family-san font-16" id="divNewsDetails" style="margin: 40px 90px 40px 90px;">
    <div class="price-info"><h2>@ViewBag.PriceTicketInfo</h2></div>
    <p><img alt="" src="https://files.betacorp.vn/files/ecm/2018/08/02/mydinh-1920x3072-01-171300-020818-59.jpg" style="width:100%; margin:10px;"></p>
    <div class="clearfix margin-bottom-10" style="margin-bottom: 10px;"></div>
</div>
