.cinema-detail {
    margin: 40px 90px 40px 90px;
}
.new-detail{
    padding:25px;
}
.new-detail p{
    margin-top:10px;
    margin-bottom:5px;
    font-weight:600;
}
.text-center h3{
    margin-top:20px;
}