@using Movie.Models
    @{ 
        List<Cinema> cinemas = ViewBag.Cinema;
    }

    <div class="header">
        <div class="container">
            <div class="w3layouts_logo">
                <a href="index.html"><h1>One<span>Movies</span></h1></a>
            </div>
            <div class="w3_search">
                <div class="row">
                    <select class="form-control">
                        @foreach (var item in cinemas)
                        {
                            <option>@item.Name @item.Address</option>
                        }
                       
                    </select>
                </div>

            </div>
            <div class="w3l_sign_in_register">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 123 345 653</li>
                    <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
