
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Doanh thu theo quý</h2>
<canvas id="myChart" width="400" height="200"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var cinemas=[];
    var totalMoney1 = [];
    var totalMoney2 = [];
    $.ajax({
        url: '/Admin/Home/GetJsonData',
        method: 'get',
        dataType: 'json',
        async: true,
        success: function (respond) {
            $.each(respond.Name, function (i, item) {
                cinemas.push(item);
            });
            $.each(respond.TotalMoney1, function (i, item) {
                totalMoney1.push(item);
            });
            $.each(respond.TotalMoney2, function (i, item) {
                totalMoney2.push(item);
            });
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["Quý 1", "Quý 2", "Quý 3", "Quý 4"],
                    datasets: [{
                        label: "Beta "+cinemas[0],
                        data: totalMoney1,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    },
                    {
                        label: "Beta "+cinemas[1],
                        data: totalMoney2,
                        //backgroundColor: [
                        //    'rgba(255, 99, 132, 0.2)',
                        //    'rgba(54, 162, 235, 0.2)',
                        //    'rgba(255, 206, 86, 0.2)',
                        //    'rgba(75, 192, 192, 0.2)',
                        //    'rgba(153, 102, 255, 0.2)',
                        //    'rgba(255, 159, 64, 0.2)'
                        //],
                        //borderColor: [
                        //    'rgba(255,99,132,1)',
                        //    'rgba(54, 162, 235, 1)',
                        //    'rgba(255, 206, 86, 1)',
                        //    'rgba(75, 192, 192, 1)',
                        //    'rgba(153, 102, 255, 1)',
                        //    'rgba(255, 159, 64, 1)'
                        //],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });

        },
        error: function (errorMessage) {
            alert(errorMessage);
        }
    })
        
</script>